[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/italolelis/hugo-coder
[submodule "themes/intro"]
	path = themes/intro
	url = git@github.com:vickylai/hugo-theme-introduction.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/italolelis/minimal.git
